{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 style="text-align:center;">
      Documentation
    </h1>
  </div>
<div class="content-section">
    <h3>
        What is it?
    </h3>
    <p>
        SweatsBets is a platform that allows you to easily place monetary bets on your performance in the most popular videogames. Confused?
        The most common questions people have about this site are:<br><br>
        - Is this a matchmaking finder/service?<br> 
        - Is this a tournament service?<br>
        - Do I have to play in custom games?<br>
        - Do I have to play with other people on this website?<br><br>
        The answer to all of these questions no.
        You will not change a single component of how you normally play video games when using SweatsBets. SweatsBets develops monetary returns for a variety of in-game accomplishments for todays top games for you to bet on. SweatsBets tracks data 
        and works in the background to determine if you met these accomplishments and pays you accordingly. It is as simple as placing your bet 
        on our website, queuing up for your favorite game as you normally would, and collecting your winnings. Its just like sports betting, except you're not betting on other players... YOU are the player. Welcome to SweatBets.
    </p>
</div>
<div class="content-section">
    <h3>
        Getting Started
    </h3>
    <p>
        To start making bets, you will need to create an account. You can do this at the "Register" tab. But before you register, you will need to gather some information the accounts you use to play your favorite games. Before moving forward,
        please pay attention to this major disclaimer:
        <p style="color:red">
            WARNING: THE REGISTRATION PROCESS IS YOUR ONLY CHANCE TO SUBMIT GAMING ACCOUNTS TO SWEATBETS. YOU WILL NOT BE ABLE TO UPDATE THIS INFORMATION ONCE YOU CREATE AN ACCOUNT. PLEASE MAKE SURE YOU SUBMIT 
            ACCOUNT INFO FOR ALL THE GAMES YOU PLAY, EVEN IF YOU DONT PLAN ON BETTING ON THEM.
        </p> 
        Fortnite requires your just your account name and your system type (Xbox, PlayStation, PC). For Xbox and PlayStation, your account name is the name that appears in the Fortnite game. For PC, your account name should be your steam account name.
        If this doesn't work, try your account name in Fortnite. For Valorant, you need a bit more information: account name, account tag, and account region. Your account name should be the name that appears in the game, and your tag can be found as the number
        to the right of the hashtag next to your account name. Do not include the hashtag when submitting info. In the example below, the account name is boxed in RED, the tag in BLUE, 
        and the region in GREEN.
    </p>
    <img src="static/website_pics/valorantguide1.jpg" class="center">
    <img src="static/website_pics/valorantguide2.jpg" class="center">

    <p>
        The last bit of information you need is an Algorand crypto wallet. You do not need an algorand wallet to sign up, but you will need to add one to your account to place bets. For more information on the Algorand wallet and transactions, please see the section below.
    </p>
</div>
<div class="content-section">
    <h3>
        Algorand x SweatBets
    </h3>
    <p>
        In order to make a bet, you will need to deposit funds to your SweatBets account. SweatBets currently accepts and pays out in Algorand.
        Algorand cryptocurrency (ALGO) is a great way to easily and securly send/receive funds from SweatBets. Algorand is the 31st largest crypto by market cap in the world. It is cheap, fast, secure, and charges negligible fees to send transactions,
        making it perfect for sending/receiving money to and from SweatBets. One way to acquire ALGO is to buy and send it from popular platforms such as Coinbase, Binance, or Kraken. If you are unfamiliar with these platforms or 
        want a quicker and easier way, you can use the ALGO wallet Perawallet. Perawallet is a ALGO specific wallet that allows you to purchase tokens with card in minutes. Click the Perawallet link <a class="ml-2" href="https://perawallet.app/?gclid=Cj0KCQjw166aBhDEARIsAMEyZh5_IUZeAEcHYLBrYGX_pEVFGaQilJ4Zmyo2CSjWGw9wGqdLFL3pVD8aAq6EEALw_wcB">here</a> to download. Follow the apps simple instructions to purchase
        some algo. Once you do, you are ready to bet!
    </p>
    <p>
        Now that you have funds, lets get them to your SweatBets account. To deposit funds, head to the account page. If you have not already updated your account with your ALGO wallet, do so in the first section of the account page, then press update.
    </p>
    <p style="color:red">
        WARNING: MAKE SURE TO COPY AND PASTE YOUR WALLET ADDRESS FROM YOU APP TO THIS SECTION TO ENSURE IT IS CORRECT. IF IT IS NOT, WE WILL NOT BE ABLE TO SEND YOU YOUR FUNDS WHEN YOU WITHDRAWL!
    </p> 
    <img src="static/website_pics/algohelp1.jpg" class="center">
    <p>
        Once you have updated your account with your wallet address, you are ready to deposit funds. To do this, scroll to the "Deposit Algorand" section of your account page. There are instructions there.
        In this section, you will see a wallet address that belongs to SweatBets under "Step 1". This is the address you will be sending ALGO to.
    </p>
    <p style="color:red">
        WARNING: MAKE SURE TO COPY AND PASTE THIS WALLET ADDRESS FROM THE WEBSITE TO THE APP IN WHICH YOU WILL SEND FUNDS. IF YOU SEND MONEY TO THE INCORRECT ADDRESS, WE ARE NOT RESPONSIBLE FOR YOUR FUNDS! 
    </p>
    <p>
        Once you have sent ALGO to the address, wait for a notification that your transaction has been complete. If you do not receive a notification, check your transaction history to see if it went through. Once you are certain
        that the money has been sent to the correct address, enter the EXACT amount of ALGO sent to us, not the dollar amount. Once you are sure you have entered the correct amount, hit confirm. Your account balance should update within
        seconds. If there was an error, you will be flashed a message describing the issue.
    </p>
    <p>
        Withdrawling is simple. Put in the amount in which you would like to withrawl from your account and click confirm. The funds will be sent to the address you have saved to your account.
    </p> 
</div>
<div class="content-section">
    <h3>
        Betting
    </h3>
    <p>
        Now that you have funds in your account, you are ready to bet. Betting is pretty self explanatory. Click betting, select the game, if required, select the game mode you wish to play, select your odds and bet amount, and confirm your bet.  
        Before you confirm your bet, you will be given the Bet ID and a Bet Passphrase for that bet. This is how you will redeem your bet. You will need to keep track of this info. The "Redeem Bet" page will show you your last Bet ID and Passphrase for each game, 
        but if you create a new bet, this information will be lost. For example, if you go to browse game odds before redeeming, your bet info will no longer be saved, even if you didn't confirm the new bet. 
        It is also a good idea to take a screenshot of your bet info incase there is an issue with your bet.You must redeem this Bet ID at the "Redeem Bet" tab right after you finish your game in order to get paid. 
        The most important guidelines about betting are this:
    </p>
    <p style="color:red">
        - IF YOU DO NOT REDEEM YOUR BET, YOU WILL NOT RECEIVE YOUR FUNDS!<br> 
        - IF YOU DO NOT START YOUR GAME WITHIN 5 MINUTES OF PLACING YOUR BET, YOU WILL NOT RECEIVE YOUR FUNDS, REGARDLESS OF WIN OR LOSS!<br>
        - IF YOU DO NOT REDEEM YOUR BET WITHIN 5 MINUTES AFTER FINISHING YOUR GAME, YOU WILL NOT RECEIVE YOUR FUNDS, REGARDLESS OF WIN OR LOSS!<br>
        - IF PLAY A GAME AFTER THE GAME YOU BET ON AND THEN REDEEM YOUR BET, YOU WILL NOT RECEIVE YOUR FUNDS, REGARDLESS OF WIN OR LOSS!<br>
        - SWEATSBETS IS NOT RESPONSIBLE FOR YOUR LOST FUNDS IF ANY OF THESE OCCUR!
    </p>
    <p>
        These are easily the most important guidelines of SweatBets. If you follow these guidelines, you will have a great experience with our website.
    </p>
</div>
<br>
    <div>
        <h2 style="text-align:center">
          Follow Us On Socials
        </h2>
      </div>
      <div class="singleCol social-media-icons d-flex justify-content-evenly">
        <a href="https://instagram.com/sweatbetsofficial/" style="color:#C13585">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/@asap_beet?_t=8XFqQWCHMs6&_r=1">
          <i class="fa-brands fa-tiktok" style="color:black"></i>
        </a>
        <a href="https://twitter.com/ASAP_Beet" style="color:#00acee">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </div>
      <div class="singleCol social-media-icons d-flex justify-content-evenly">
        <a href="https://www.youtube.com/channel/UCY7Zydqz7MllRcpgjCyeAlw" style="color:red">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://discord.gg/PfU7q4RGar">
          <i class="fa-brands fa-discord" style="color:#7289d9"></i>
        </a>
      </div>
    </div>
    
{% endblock content %}