{% extends "layout.html" %}
{% block content %}
<div class="hero">
  <div class="hero__container">
    <h1 class="hero__heading"><span>SweatBets</span></h1>
    <p class="hero__description">iGaming made easy. Like, stupid easy.</p>
  </div> 
</div>

<!-- About Section -->

<div class="main">
  <div class="main__container">
    <div class="main__img--container">
      <div class="main__img--card"><i class="fa-sharp fa-solid fa-gamepad-modern fa-beat-fade"></i></div>
    </div>
    <div class="main__content">
      <h1>What do we do?</h1>
      <h2>We let users bet on video games.</h2>
      <p>SweatBets allows users to win money based off their performance in their favorite video games. The higher the kills, the higher the payout.</p>
    </div>
  </div>
</div>

<div class="main">
  <div class="main__container">
    <div class="main__img--container">
      <div class="main__img--card"><i class="fa-sharp fa-solid fa-sack-dollar fa-beat-fade"></i></div>
    </div>
    <div class="main__content">
      <h1>Money</h1>
      <h2>We make getting your funds easy.</h2>
      <p>SweatBets uses cryptocurrency Algorand to make sure users get their funds as fast and securly as possible. Deposits and withdrawls take seconds.</p>
    </div>
  </div>
</div>
{% endblock content %}