{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ form.username.data }}</a>
        </div>
        <h2 class="article-title">{{ form.header.data }}</h2>
        <p class="article-content">{{ form.feedback.data }}</p>
      </div>
    </article>
{% endblock content %}
