{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 style="text-align:center;color:black">
      Terms and Conditions
    </h1>
</div>
<div class="content-section">
    <p>
        Last Updated: 09/10/2022
    </p>
    <h3>
        Introduction
    </h3>
    <p>
        Welcome to SweatBets. SweatBets is an online video game gaming website that allows users to stake assets with a potential to earn returns on said assets based on performance. 
        By creating an account and using our website, you acknowledge that you have read, understood, and agree to be bound by our Terms and Conditions. These Terms and Conditions unconditionally 
        apply to extend and apply to all related applications, services, or behaviors. If you are not in agreement with all of these Terms and Conditions, you are prohibited from using SweatBets, 
        and may discontinue immediately. SweatBets recommends that you save or print a copy of these Terms and Conditions for future reference.
    </p>
    <h3>
        Agreement to Terms and Conditions
    </h3>
    <p>
        SweatBets Terms and Conditions (these “Terms” or these “Terms and Conditions”) contained in this Agreement shall govern your use of this Website and all its content (collectively referred to herein as this “Website”). 
        These Terms outline the rules and regulations guiding the use of SweatBets located at www.sweatbets.xyz. All materials/information/documents/services or all other entities (collectively referred to as content) that 
        appear on SweatBets shall be administered subject to these Terms and Conditions. These Terms and Conditions apply in full force and effect to your use of this Website, and the use of this Website constitutes and express 
        agreement with all the Terms and Conditions contained herein full. Do not continue to use this Website if you have any objection to any of these Terms and Conditions stated on this page.
    </p>
    <h3>
        Definitions/Terminology
    </h3>
    <p>
        The following definitions apply to these Terms and Conditions, Privacy Statement, Disclaimer Notice, and all Agreements: “User”, “Visitor”, “Client”, “Customer”, “You”, and “Your” refers to you, the person(s) 
        that use this Website. “SweatBets”, “We”, “Our”, and “Us”, refer to our Website/Company. “Party”, “Parties”, or “Us”, refers to both you and us. All terms refer to all considerations of SweatBets necessary to undertake 
        support to you for the express purpose of meeting your User needs in respect to our services, under and subject to, prevailing law of the state or country in which SweatBets operates. Any use of these definitions or 
        other glossary in the singular, plural, capitalization, and/or pronoun are interchangeable but refer to the same.
    </p>
    <h3>
        Intellectual Property Rights
    </h3>
    <p>
        Other than the content you own and opted to include on this Website, under these Terms, SweatBets and/or licensors own and reserve all intellectual property rights of this Website. You are granted a limited license, 
        subject to the restrictions entailed in these Terms and Conditions, for purposes of using and viewing of this Website's content and services.
    </p>
    <h3>
        Services
    </h3>
    <p>
        The content of this Website is not intended for use or distribution to any person or entity in any jurisdiction, geographical location, or country/state where such use or distribution will be contrary to the 
        laws and regulations or subject SweatBets to any form of registration, claims, demands, costs, liabilities, damages, or expenses. The Website is intended for users who are at least 18 years of age. If you are 
        under the age of 18, you cannot use or register to use this Website or its services without parental permission or consent. By agreeing to these Terms and Conditions, you have the necessary legal capacity to comply 
        and be bound by these Terms and Conditions.
    </p>
    <h3>
        Use of Services
    </h3>
    <p>
        The services of this website require Users to adhere to the guidelines stated in this document. SweatBets reserves the right to terminate the Users use of our Website and its' services if guidelines are not 
        adhered to at all times. SweatBets is not responsible for any monetary damages or losses that the User experiences when not adhering to the Terms stated in this document.
    </p>
    <h6>
        Assets and Securities
    </h6>
    <p>
        SweatBets is not responsible for User assets and securities before they are received, in compliance with these Terms and Conditions, as part of our offered services. SweatBets is not responsible for the method of 
        acquisition of User assets and securities that it receives as a result of the services offered. SweatBets is not responsible for the failure of a successful transfer of any User assets or securities to our Website. 
        SweatBets is not responsible for User assets or securities if the user fails to comply with the Terms and Conditions. SweatBets is not responsible for assets and securities after they have been acquired by the User 
        from SweatBets as part of its' services. SweatBets is not responsible for any activity the User and his/her/their assets or securities take part in outside the services of this website. SweatBets is not responsible 
        for the compromised assets and securities by a third party that were not explicitly and directly caused by SweatBets.
    </p>
    <h6>
        Services
    </h6>
    <p>
        SweatBets reserves the right to hold all assets and securities supplied by a user that is found non-compliant to the guidelines of Our services and the Terms of this document. A User has read, understands, 
        and agrees that they are non-compliant to the Website guidelines when they do the following:<br><br>
        -	Provide false information when identifying themselves to our Website<br>
        -	Provide incorrect information to our Website<br>
        -	Impersonate another person when identifying themselves<br>
        -	Creates multiple profiles<br>
        -	Does not play the game they agreed to while using our service<br>
        -	Does not start the game they agreed to while using our service in 5 minutes<br>
        -	Does not redeem an active service to SweatBets<br>
        -	Redeems an active service outside the provided timeline by SweatBets<br>
        -	Plays more or less that than the agreed upon game for a service<br>
        -	Cannot provide photo or video evidence, when asked by SweatBets, that the game agreed upon by the User and Service was not manipulated by third party software<br>
        -	Cannot provide photo or video evidence, when asked by SweatBets, that the game agreed upon by the User and Service was played by the User registered to the account in which that service was agreed upon<br><br>
        If a User does not comply with any of these guidelines and the content of the Website, SweatBets reserves the right to hold the User's assets and securities indefinitely.
    </p>
    <h3>
        Privacy Policy
    </h3>
    <p>
        By using this Website and its services, you may provide us with certain personal information. By using SweatBets or its services, you authorize us to use your information in any country or state that we operate in. 
        We reserve the right to use such information to improve your user experience and facilitate mailing and traffic, and market analytics. By accessing this Website, specific information about the User, such as Internet 
        protocol (IP) addresses, site activity, user software, and the surfing time, along with other similar information, will be stored on SweatBets servers. Information about their identities, such as name, address, 
        contact details, billing information, and other information stored on this Website, will strictly be used only for statistical purposes and will not be published for general access. SweatBets, however, assumes no 
        responsibility for the security of this information.
    </p>
    <h3>
        Disclaimers, Warranties, and Limitation of Liabilites
    </h3>
    <p>
        SweatBets Website is provided "as is," with all liabilities, and SweatBets makes no express or implied undertakings, representations, or warranties, of any kind related to this Website or the content contained 
        on this Website.
    </p>
    <p>
        SweatBets does not make any endorsements, warranties, or representations about the accuracy, reliability, expertise, or completeness of any such content. You agree that reliance on any such content shall be at 
        the User's risk. The Website periodically changes, adds, modifies, improves, or updates this Website's consent with or without prior notice. Under no circumstance shall SweatBets be liable for any loss, damage, 
        injury, liability, or expense incurred or suffered from the use of this Website, including, without limitation, any fault, error, omission, commission, delay, failure, interruption, deletion, alteration, disruption, 
        cessation or incursion concerning such use by us, our affiliates or any third party. Under no circumstance shall SweatBets or any of its partners and affiliates be liable for any direct, indirect, consequential, 
        accidental, or special damages, even if SweatBets has been advised against the risk or possibility of such damages. The User agrees that SweatBets will not be liable for any conduct or behavior of the User arising 
        from the use of this Website. As a result, the use of this Website and all or any of its content is at the User's sole risk.
    </p>
    <p>
        In no event shall SweatBets, nor any of its officers, directors, employees, and affiliates, be liable for any loss, injury, or damage arising out of your use of this Website, whether, under contract, tort, or 
        otherwise, and SweatBets, including its officers, directors, employees, and affiliates shall not be liable for any indirect, consequential or special liability arising out of your use of this Website.
    </p>
    <h3>
        Indemnnification
    </h3>
    <p>
        As a condition for the use of this Website, the User agrees to indemnify [WEBSITE NAME] and its affiliates to the fullest extent, from and against all actions, claims, liabilities, losses, damages, costs, 
        demands, and expenses (including reasonable attorney's fees) arising out of the User's use of this Website, including without limitation, any claim related to the breach of any of the provisions of these 
        Terms and Conditions. If dissatisfied with any or all of the content on this Website or any or all of its Terms and Conditions, the User may discontinue using this Website.
    </p>
    <h3>
        Termination
    </h3>
    <p>
        The provisions of these Terms and Conditions shall remain in full force and effect while you use the Website or its services. Users may terminate their use by following the instructions for terminating user 
        accounts in your account settings or by contacting us at sweatbetsofficial@gmail.com.
    </p>
    <p>
        We reserve the right and sole discretion to, and without notice or liability, deny access to and use of the Website (including blocking specific IP addresses) to any user for any reason including but not 
        limited to breach of any representation, warranty, or Agreement in these Terms or any applicable law or regulation.
    </p>
    <p>
        We also reserve the right, if, in our sole discretion, we determine that your use of the Website or its services is in breach of these Terms and Conditions or of any applicable law or regulation, to terminate 
        your use of the Website and its services or delete your account and any or all of your content, without warning or prior notice. Suppose we terminate or suspend your account for any reason set out under this section. 
        In that case, you are prohibited from registering and creating a new account under your name, or a false identity, or the expression of a third party. In addition to terminating or suspending your account, SweatBets 
        reserves the right to take appropriate legal action(s), including without limitation pursuing civil, criminal, and injunctive redress.
    </p>
    <h3>
        General Provisions
    </h3>
    <h6>
        Language
    </h6>
    <p>
        All correspondence made under this Agreement shall be in English.
    </p>
    <h6>
        Severability
    </h6>
    <p>
        Suppose any of Term or Condition is proven to be unenforceable or void under any applicable law. In that case, such shall not render the entirety of these Terms and Conditions unenforceable or invalid. As a result, 
        any such provision shall be deleted without affecting the remaining provisions herein. The provisions of these Terms and Conditions that are unlawful, void, or unenforceable are deemed severable from these Terms and 
        Conditions and do not affect any remaining provisions' validity and enforceability.
    </p>
    <h6>
        Variation of Terms
    </h6>
    <p>
        SweatBets reserves the right to revise these Terms at any time as it sees fit. By using SweatBets, you are expected to review such Terms regularly to ensure you comprehend all the Terms and Conditions regarding 
        the use of this Website.
    </p>
    <h6>
        Assignment
    </h6>
    <p>
        SweatBets reserves the right to assign, transfer, and subcontract its rights and/or obligations under this Agreement without any prior notification or consent required. Users shall not be permitted to assign, 
        transfer, or subcontract any of your rights and/or obligations under these Terms. Furthermore, a person who is not a party to these Terms and Conditions shall have no right to enforce any provision contained therein.
    </p>
    <h6>
        Preservation of Immunities
    </h6>
    <p>
        Nothing herein shall constitute a limitation upon the privileges and immunities of SweatBets, which are specifically reserved.
    </p>
    <h6>
        Waiver
    </h6>
    <p>
        Our failure to exercise any or all of these Terms and Conditions' provisions at any point in time shall not operate as a waiver of such right or provision. 
    </p>
    <h6>
        Entire Agreement
    </h6>
    <p>
        These Terms and Conditions, including any legal notices and disclaimers on this Website, constitute the entire Agreement between SweatBets and you concerning your use of this Website. Ultimately, this Agreement 
        supersedes all prior agreements and understandings concerning the same.
    </p>
    <h3>
        Contact Us
    </h3>
    <p>
        To resolve any complaint or clarification regarding the use of this Website or its services or receive information concerning that, please contact us at sweatsbetsofficial@gmail.com.
    </p>
</div>
{% endblock content %}